body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
  }
  
  header {
    text-align: center;
    background-color:#d9a473;
    color: #eef2f4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .btn {
    background-color:#a5d6ed;;
    color: #eef2f4;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 10px 20px;
    cursor: pointer;
    justify-content: center; 
    align-items: center; 
  }
  
  
  .btn:hover {
    background-color: #a7caf3;
    color: #fff;
  }
  
  .btn-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 210px 0;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  