body {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 22px;
  background-color: #f8f1f1;
  color: #f2bac9;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.6;
}

header {
  text-align: center;
}

h1 {
font-family: 'Catamaran', sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
    font-style: italic;
    font-weight: 900;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

#intro,
#score,
#question-container {
  text-align: center;
  padding: 20px;
}

#prompt {
  font-size: 20px;
  color: #737373;
}

.hide {
  display: none;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.btn {
  background-color: #87a878;
  color: #eef2f4;
  padding: 5px 10px;
  font-size: 18px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.btn:hover {
  background-color: #9fc490;
  color: #fff;
  }

#start-btn,
#show-score,
#restart {
   padding: 20px 40px;
    border: none;
    border-radius: 20px;
    background-color: #fff;
    color:#737373;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    font-style: italic;
    align-items: center;
}

#initial {
  width: 300px;
  padding: 20px;
  margin-right: 10px;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  font-style: italic;
}


#timer {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 20px;
  color: #f2bac9;
  font-weight: bold;
}

  
  